<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{{title}}</title>

    <link rel="stylesheet" href="../../../css/style.css" />
  </head>

  <body>
    <canvas id="bg"></canvas>
    <div class="container">
      <article class="blog-post">
        <a href="../../../posts.html" class="back-link"> ← Back to writings </a>

        <header class="post-header">
          <h1>{{title}}</h1>

          <div class="post-meta">
            <span>{{date}}</span>
          </div>
        </header>

        <div class="post-content">{{content}}</div>
      </article>
      <footer>
        <p><a href="https://github.com/imunknown7/quill" target="_blank">quill</a> © 2026 dyno</p>
  
        <a href="#">Back to top ↑</a>
      </footer>
    </div>
    <script src="../../../js/cluster.js"></script>
  </body>
</html>
